<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoLP.Properties.Settings.TRABALHOLPVIIIConnectionString"
            connectionString="Data Source=DESKTOP-75CD42T;Initial Catalog=TRABALHOLPVIII;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetoLP.Properties.Settings.TrabalhoLPBDMANHAConnectionString"
            connectionString="Data Source=WIN10;Initial Catalog=TrabalhoLPBDMANHA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>